# Rust-related build directories
rust/**/target/**
rust/**/*.rs.bk
rust/**/Cargo.lock

# IDE files
.idea/
**.code-workspace

# Windows executables/DLLs
**/*.dll
**/*.exe

# Runtime directories
rust/logs/
rust/runtime/
