{%- macro render_card(id, cardclass, cardclass_long, name, speed, action, desc, image_url) -%}
<div class="background big-text sans-serif">
    <div class="header">
        <div class="table">
            <div class="cardclass-circle cardclass-background-color-{{cardclass}}">
                <div class="cardclass-section">
                    <span class="cardclass-text title-text medium-text">
                        {{cardclass_long}}</span>
                </div>
            </div>
            <div class="title-section">
                <span class="title-text large-text">{{name}}
                <br />
                <span class="title-text small-text">(#{{id}})</span>
                </span>
            </div>
        </div>
    </div>
    <div class="card-image">
        <img src="{{image_url}}" />
    </div>
    <div class="card-body">
        <div class="card-stats">
            <div class="card-stats-item"><strong>Speed:</strong> {{speed}}</div>
            <div class="card-stats-item"><strong>Action:</strong> {{action}}</div>
        </div>
        <div class="card-description big-text">
            {{desc}}
        </div>
    </div>
</div>
{%- endmacro -%}